* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*variáveis*/
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7; 
}
body.dark-blue {
    --bg-color: #131938;
    --second-bg-color: #2e3f92;
    --text-color: #FFFFFF;
    --shadow-color: #02071f;
}
  
body.pink {
    --bg-color: #FFF0F6;
    --second-bg-color: #ecb2ca;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
    --shadow-color: #DBCED3;
}


a{
    text-decoration: none;
}

body{
    background: radial-gradient(circle, var(--bg-color), var(--second-bg-color));
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    padding: 50px;
    box-shadow: 0px 0px 15px 5px var(--shadow-color);
}

.ProfilePicture{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;

}

ul{
    list-style: none;
    margin: 48px 0;
}

h1{
    font-size: 32px;
    color: var(--text-color);
    margin-top: 24px;
    margin-bottom: 8px;
}

ul li a{
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border: 0;
    
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover{
    background: var(--primary-color-dark);
}

ul li a img{
    height: 25px;
    margin-right: 5px;
}


.username{
    font-family: 'Roboto Mono', monospace;
    color: var(--text-color);
    opacity: 0.8;
    font-size: 18px;
}

footer{
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.6;
    transition: opacity 400ms;
}

footer a{
    color: var(--text-color);
}

footer:hover{
    opacity: 1;
}
